{% extends 'base.html'  %}
{% block title %}
Update Feedback
    {% endblock %}


{% block content %}
<div id="add_feedback" class="container">
<h1>Edit Your Feedback</h1>
<p class="lead">Please edit your feedback below.</p>
<form action="" method="POST">
    {{form.hidden_tag()}}
    
    <p>
    
        {{form.title.label}}{{form.title(value_=feedback.title, class_="form-control")}}
        {% for error in form.title.errors %}
            <span class="form-text text-danger">{{ error }}</span>
            {% endfor %}
        {{form.content.label}}{{form.content(value_=feedback.content, class_="form-control")}}
            {% for error in form.content.errors %}
            <span class="form-text text-danger">{{ error }}</span>
            {% endfor %}
    </p>
    
    <button class="btn btn-success" type="submit">Update</button>
</form>
</div>
{% endblock %}